.main_form {
  gap: 1rem;
  background: rgb(100 116 139);
  height: 30rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title_input {
  border-style: solid;
  border-color: rgb(100 116 139);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  margin-left: 6rem;
  margin-right: 6rem;
  width: 30rem;
  border-radius: 0.5rem;
}

.button_div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addTopicBtn {
  background-color: rgb(22 163 74);
  color: aliceblue;
  font-weight: bolder;
  font-size: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  width: fit-content;
}

.title_input_description {
  border-style: solid;
  border-color: rgb(100 116 139);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  margin-left: 6rem;
  margin-right: 6rem;
  width: 30rem;
  border-radius: 0.5rem;
}
