.container_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-style: solid;
  border-color: rgb(203 213 225);
  gap: 1.25rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  background-color: rgb(203 213 225);
  border-radius: 0.5rem;
}

.todoTitle {
  font-weight: bold;
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

.buttonDiv {
  display: flex;

  gap: 0.5rem;
}
